@import url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@2.1.2/css/SpoqaHanSansNeo.css');

body {
  background-color: #F9FAFB;
  color: #111827;
  font-family: 'Pretendard', sans-serif;
}


.map-fixed-style {
  @apply w-[300px] h-auto;
}


.selected-region {
  fill: #22c55e !important; /* Tailwind green-500 */
}

.pattern {
  background-image: url("data:image/svg+xml,..."); /* 긴 URI 생략 */
}



small {
  font-size: 80%;
}



/* Google Chart tooltip이 다른 요소에 가리지 않도록 처리 */
.google-visualization-tooltip {
  z-index: 9999 !important;
  pointer-events: none;
  position: absolute;
}

/* 차트가 들어가는 상위 div에도 적용 가능 (예: 클래스 이름 .treemap-wrapper 등) */
.treemap-container {
  position: relative;
  z-index: 0;
}
